header.header 
    div.logo 
        img(src="img/logo.png", alt="logo")
        img(src="img/logo-mobile.png", alt="logo")
        p 
         span Promotion
         span today
    nav.nav
        ul
            li Home 
            li About Us 
            li Services
            li Partners
            li Blog
    div.mobile-nav
        button(type="button" id="show-mobile-nav")
            img(src="img/menu-mobile.svg", alt="menu button")
        div.mobile-nav__slide.mobile-nav__slide_hidden#mobile-menu-slide
               ul
                    li Home 
                    li About Us 
                    li Services
                    li Partners
                    li Blog